# General
.DS_Store
Thumbs.db
*.log

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml

# Virtual envs (any location)
venv/
.venv/
env/
.env
.env.*

# Node/Frontend
node_modules/
dist/
build/

# Editor/OS
.idea/
.vscode/
*.swp

# Uploads and generated media
uploads/
data

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files


# vercel
.vercel

# typescript
next-env.d.ts
