certifi==2025.8.3
charset-normalizer==3.4.3
filelock==3.19.1
fsspec==2025.7.0
hf-xet==1.1.9
huggingface-hub==0.34.4
idna==3.10
numpy==2.3.2
packaging==25.0
PyYAML==6.0.2
regex==2025.7.34
requests==2.32.5
safetensors==0.6.2
tokenizers==0.21.4
tqdm==4.67.1
transformers==4.55.4
typing_extensions==4.15.0
urllib3==2.5.0
